body {
  margin: 0;
  background-color: #e8e5e5 !important;
  font: 14px arial,tahoma;
}

.logo {
  font: 900 49px asap,arial !important;
  color: #0186da !important;
  letter-spacing: -1px !important;
  text-shadow: 0 2px 2px #ddd !important;
  word-wrap: break-word !important;
  text-align: center;
}

section .urlbox {
  margin: 0 auto 20px auto;
  max-width: 758px;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 2px;
  padding: 10px 30px 5px;
  background: #fff;
  text-align: center;
}
